.profSaude{
    margin-left: 20px;
    color: white;
}

.menu{
    height: 250px;
    background-color: grey;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

    /*Pedro -> Adicionei isto*/
    margin-bottom: 20px;
    max-width: 250px;
    min-width: 250px;
}

.menu:hover
{
    cursor: pointer;
    background-color: darkgrey;
}

.menu:first-child{
    margin-left: 20px;
    margin-right: 20px;
}

.menu > h2 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.menu-row{
    margin-top: 100px;
}

.tamIcon{
    margin:auto;
    font-size: 140px;
    color: white;
}

.topPadding{
    position: absolute;
    z-index: 10000;
    margin-top: 56px;
    top:0;
    bottom:0;
    
}

/* ADMIN CLASSES */
.dropdown-container {
    display:none;
    background-color: #262826;
    padding:0;
}

.dropdown-container > ul > li {
    padding: 0;
    margin:0;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
}

/*
.dropdown-container > ul > li:hover{
    background-color: gray;
}

a{
    style: none;
}
*/

@media only screen and (max-width: 600px) {
    
}

.homeProf
{
    margin-left: 250px;
}