.main {
	margin: 0 auto;
	padding: 5px;
}

h1 {
	font-size: 50px;
}

#slider {
	height: 50px;
}

#slider .ui-slider-handle {
	height: 50px;
	padding-left: 5px;
	margin-top: 3px;
}

#slider label {
	position: absolute;
	margin-left: -5px;
	text-align: center;
	margin-top: 55px;
}

.map {
	margin: 0 auto;
	height: 400px;
}

#buttons {
	float: right;
	margin-top: -80px;
}

#submit, #clear {
	padding: 10px;
	margin: auto 5px;
	font-size: 20px;
}

p {
	font-size: 20px;
}