nav.navbar{
    background-color: #f2f2f0 !important;
}

nav.sidebar{
    background-color: #ff5e3a !important;
}

nav.lista{
    color: #f2f2f0 !important;
}

nav.nav-link{
    color: #f2f2f0 !important;
}

a.nav-link{
    color: #f2f2f0 !important;

}

a.navbar-brand{
    color: #272e4f !important;
}

.dropdown-container{
    background-color: #ff5e3a !important;
}

a{
    color: #f2f2f0 !important;
}
button.margin8{
    margin: 8px;
}

.nav-link.dark-text{
    color: #272e4f !important;
}


.menu{
    height: 250px;
    background-color: grey;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    /*Pedro -> Adicionei isto*/
    margin-bottom: 20px;
    min-width: 250px;
}

.menu:hover
{
    cursor: pointer;
    background-color: darkgrey;
}

.menu:first-child{
    margin-left: 20px;
    margin-right: 20px;
}

.menu > h2 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.menu {
    border-radius: 5px !important;
}

#notification {
    position: fixed;
    bottom: 0;
    right: 0;
}