body {
	background-color: darkgray;
}

.main {
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	width: 800px;

}

#slider {
	height: 50px;
}

#slider .ui-slider-handle {
	height: 50px;
	padding-left: 5px;
	margin-top: 3px;
}

#slider label {
	position: absolute;
	margin-left: -5px;
	text-align: center;
	margin-top: 55px;
}

.map {
	display: block;
	margin: 0 auto;
	height: 500px;
}




#buttons {
	float: right;
	margin-top: -50px;
}

#submit, #clear {
	padding: 10px;
	margin: auto 5px;
}